<div class="container">
        <div class="site-nav">
            <a class="site-nav__logo link"
            href="./index.html"
            aria-label="логотип фирмы">
            <p class="">Hell</p>
            <svg>
              <use href="./images/svg/sprite.svg#icon-logo"></use>
            </svg>
            <p class="">en</p>
            <span class="site-nav__logo-accent">Адский</span> английский
          </a>

            <a class="site-nav__tel link" href="tel:+380000000000"
              >
              <svg>
                <use href="./images/svg/sprite.svg#icon-phone"></use>
              </svg>
              +38 (000) 000 00 00</a
            >
            <a class="site-nav__instagram" href="">
                <svg>
                  <use href=""></use>
                </svg>
              </a> 
        </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="footer__copyright">@ Все права защищены, 2019</p>
  </div>
</footer>